<h4>投稿数の前日比・前週比</h4>
<table class="table table-bordered">
  <tr>
    <th>今日の投稿数</th>
    <th>前日の投稿数</th>
    <th>前日比</th>
  </tr>
  <tr>
    <td><%= books.created_each_date(0).count %></td>
    <td><%= books.created_each_date(1).count %></td>
    <td><%= theDayBefore %></td>
  </tr>
</table>

<table class="table table-bordered">
  <tr>
    <th>今週の投稿数</th>
    <th>前週の投稿数</th>
    <th>前週比</th>
  </tr>
  <tr>
    <td><%= thisWeekBook.count %></td>
    <td><%= lastWeekBook.count %></td>
    <td><%= theWeekBefore %></td>
  </tr>
</table>
