<div class="container">
  <div class="row">
    <div class="col-md-3 mt-3">
      <%= render'template', book:@book_new,user:@book.user %>
    </div>
    <div class="col-md-8 offset-md-1 mt-3">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <th><%= image_tag @book.user.icon(100,100) %><br>
                <%= link_to @book.user.name,user_path(@book.user_id) %></th>
            <th><%= @book.title %></th>
            <th><%= @book.body %></th>
            <% if @book.user == current_user %>
              <th><%= link_to "Edit",edit_book_path(@book.id),class:"btn btn-success" %></th>
              <th><%= link_to "Destroy",book_path,method: :delete ,class:"btn btn-danger",data: { confirm: "Are you sure?" } %></th>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
